@font-face {
    font-family: "RedHatDisplay_Complete";
    src: url(../assets/fonts/RedHatDisplay_Complete/Fonts/TTF/RedHatDisplay-Variable.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: "BeVietnamPro_Complete";
    src: url(../assets/fonts/BeVietnamPro_Complete/Fonts/TTF/BeVietnamPro-Variable.ttf);
    font-weight: 100 900;
}